## Introduction (Notebook01)

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Variables

In Python, you can declare and assign values to variables by this way:

In [4]:
x = 2
y = 5
xy = "Hey"
a = b = 20 #Even assign the same value to multiple variables,

In [5]:
print(x + y, xy)
print(a, b)

7 Hey
20 20

### Python ids

In some programming languages, you learnt that variables are a kind of boxes to save something, in Python, that concept is different,

In [6]:
a = 1
b = 1
print(id(a), id(b))

140722970896176 140722970896176

In [7]:
id(a) == id(b) == id(1)

True

As you can see, the id of a variable depends on the assigned value.

### Arithmetic Operations

| Symbol | Task |
|:---:|---:|
| +  | Addition |
| -  | Subtraction |
| /  | Division |
| %  | Modulo |
| *  | Multiplication |
| //  | Floor Division |
| **  | Exponentiation |

### Relational Operation

| Symbol | Task |
|:-----:|---|
| == | Equal |
| !=  | Not equal |
| < | lesser than |
| > | higher than |
| <=  | lesser or equal to |
| >=  | higher or equal to |

### Some Interesting Functions

**round(a, b)**: changes the number *a* to the closest natural number, or decimal depending on your input *b*

In [10]:
print(round(3.1415926535))
print(round(3.1415926535,4))

3
3.1416

**type()**: returns the "object type" of the variable.

In [11]:
a = 10
b = "Hello World"
c = 10/3
print(type(a), type(b), type(c))

<class 'int'> <class 'str'> <class 'float'>

**range()**: Create a list of elements type range.

In [16]:
a = range(2, 27, 8)
print(a)
print(len(a))
print(type(a))

range(2, 27, 8)
4
<class 'range'>

**help()**: return a detailed description of a function or argument.

In [18]:
# help(range)
# range?

## Printing (Notebook02)

Many ways to use print function

<div class="alert alert-block alert-warning">
<b>TIP:</b>In Jupyter notebook you can use bootstrap html to create blocks<br>
I found this really interesting
</div>

In [19]:
# You can print using """ string """

print ("""My name is <write your name here> and

I love Python.""")

My name is <write your name here> and

I love Python.

<font color='red'>**%-formatting**</font> *Obsolete*

In [3]:
nombre = "Juan"
edad = 34
nombre2 = "Andrea"
edad2 = 38

# I don't like this format, es hard to work with.
print("Hola %s. Tú tienes %s años." % (nombre, edad))
"Hola %s. Tú tienes %s años." % (nombre2, edad2)

Hola Juan. Tú tienes 34 años.

'Hola Andrea. Tú tienes 38 años.'

In [4]:
print ("Actual Number = %d" %18)
print ("Float of the number = %f" %18)
print ("Octal equivalent of the number = %o" %18)
print ("Hexadecimal equivalent of the number = %x" %18)
print ("Exponential equivalent of the number = %e" %18)

Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

<font color='blue' size='5'>**Task 1**</font>

1. Write the following sentence using str.format()

```python
The value of Π is   3.14159
```

2. Generate the following print:

```python
01234.123
00001.123
```

In [5]:
import math
pi = math.pi
print("The value of Π is {:9.5f}".format(pi))

The value of Π is   3.14159

In [6]:
a = 1234.123456789
b = 1.1234
print('{:09.3f}'.format(a))
print('{:09.3f}'.format(b))

01234.123
00001.123

<font color='blue' size='3'>**End of task**</font>

<font color='red'>**%f-string**</font>

In [8]:
# Is similar to str.format(), but with less details and easier to use.

name = "Pedro"
age = "42"
f"Hello {name}, you are {age} years old"

'Hello Pedro, you are 42 years old'

In [9]:
# Even you can do aritmetic operations inside an f-string.

f'{2 * 8}'

'16'

In [10]:
# IMPORTANT: These are some different notation of f-string.
val = 18
print (f"Actual Number = {val: d}")
print (f"Float of the number = {val: f}")
print (f"Octal equivalent of the number = {val :o}")
print (f"Hexadecimal equivalent of the number = {val :x}")
print (f"Exponential equivalent of the number = {val :e}")

Actual Number =  18
Float of the number =  18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

In [12]:
# Compatible with str.format()
val2 = 3.121312312312
s1 = 'a'
print(f'{s1:>10}') # Padding
print(f"{val2:.2f}")
print(f"{val2:.5f}")
print(f"{val2:9.5f}")
print(f"{val2:09.5f}")

         a
3.12
3.12131
  3.12131
003.12131

## String Management (Notebook04)

### Slicing

```py
[start : finish : steps]
```

In [1]:
alpha = 'abcdef'

In [3]:
print(alpha[0:3])
print(alpha[2:4])
alpha[0:6:2]

abc
cd

'ace'

<font color='blue' size='5'>**Task 1**</font>

### Slicing over DNI

*RUT(Chilean National ID)*

Generate the following results from rut1 and rut2, without dots

```py
'1995'

'0843'
```

In [ ]:
rut1 = '9.621.955-4'

In [ ]:
rut2 = '12.190.843-K'

<font color='blue' size='3'>**End of task**</font>

<font color='blue' size='5'>**Task 2**</font>